:root {
    --background-color: #000000;
    --font-color: #fff;
    --secondary-font-color: #888;
    --invert-font-color: #333;
    --primary-color: #0098fd;
    --primary-color-light: #459dee;
    --primary-color-transparent: #0098fd00;
    --secondary-color: #111;
    --error-color: #d20962;
    --progress-bar-background: #727578;
    --progress-bar-fill: #333;
    --code-bg-color: #e8eff2;
}


h3::after {
    content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ";
    position: absolute;
    bottom: 5px;
    inline-size: max-content;
    left: 0;
    color: var(--primary-color);
    display: var(--display-h1-decoration);
    font-weight: bolder;
}


.stripes {
    width: 100%;
    height: 3px;
    max-height: 6px;
    background-image: repeating-linear-gradient(-45deg, rgb(0, 0, 0), rgb(0, 0, 0) 8px, var(--primary-color) 8px, var(--primary-color) 16px);
    animation: stripes 2s linear infinite;
    background-size: 45.25px 100%;
    box-shadow: 0 0 20px 0 var(--primary-color);
}

@keyframes stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(45.25px / 2) 0;
    }
}

.terminal-timeline .terminal-card::before {
    background-color: var(--primary-color-light);
    box-shadow: var(--primary-color) 0 0 20px;
}

